#header{
	color:green;
	text-align: center;
}

#header2{
	color:blue;
	text-align: center;
}

#almost_final_header{
	color: blue;
	text-align: center;
}

#final_header1{
	color: green;
	text-align: center;
}

#final_header2{
	color: red;
	text-align: center;
}

#final_header3{
	color: red;
	text-align: center;
}